footer{
    background-color: #0A192F;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
footer a{
    text-decoration: none;
    color: white;
}
footer p{
    margin: 0;
}
hr{
    margin: 0.5em auto;
    width: 50%;
}
.iconos{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}