.navbar{
    background-color: #0A192F;
    z-index: 1;
}
/* Anchor list */
.nav-link{
    color: #8892B0;
}
.nav-link:visited{
    color: #8892B0;

}
.nav-link .numList, .navbar-brand, .navbar-brand:hover, .nav-link:active, .nav-link:hover{
    color: #53D3B9;
}
.navbar-collapse{
    display: flex;
    justify-content: end;
}
.navbar-brand img{
    width: 50px;
    height: 50px;
    margin: auto;
}

/* Logo, button, and anchors with animation */
.navbar-brand, .navbar-toggler, .navbar-nav a, .flag, .scrolling{
    position: relative;
    opacity: 0;
    animation: fadeNavbar 0.5s ease both;
}
/* Animation delay for lasts links */
.navbar-nav a:nth-child(2){
    animation-delay: 300ms;
}
.navbar-nav a:nth-child(3){
    animation-delay: 600ms;
}
.navbar-nav a:nth-child(4){
    animation-delay: 900ms;
}
.navbar-nav a:nth-child(5){
    animation-delay: 1200ms;
}
.navbar-nav a:nth-child(6){
    animation-delay: 1500ms;
}

/* Menu bars with animation */
.navButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border: 0;
    background: transparent;
    gap: .3rem;
}
.navButton > div{
    background-color: #53D3B9;
    height: 4px;
    width: 100%;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
}
.close div:first-child{
    transform: rotate(47deg);
}
.close div:nth-child(2){
    opacity: 0;
}
.close div:last-child{
    transform: rotate(-47deg);
}


.scrolling{
    background-color: #0A192F;
    position: fixed;
    top: 0;
    width: 100%;
    transform: translateY(0px);
    
}
.languageButton{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.flag{
    width: 40px;
    height: 30px;
    border-radius: 4px;
}
/* Fade in animation */
@keyframes fadeNavbar {
    0% {top: -5em; opacity: 0;}
    100% {top: 0; opacity: 1;}
}